:root {
    --element-spacing: 1.5rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
    width: 100%;
}

.left > * {
    margin-right: var(--element-spacing);
}

.left h1 {
    background-color: #48bfe3;
    padding: 4px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
}

.right > * {
    margin-left: var(--element-spacing);
}